@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title:</h2>
<h3>@ViewBag.Message</h3>

<address>
    18 Pearse Tce<br />
    Arklow,Co.Wicklow<br />
    <abbr title="Phone">P:</abbr>
    0861234567
</address>

<address>
    <strong>Email:</strong> <a href="mailto:dec1989@outlook.com">dec1989@outlook.com</a>
    <strong>Support:</strong><a href="mailto:dec1989@outlook.com">dec1989@outlook.com</a><br />
</address>