<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.StudentPoints.sap"
    android:versionCode="1"
    android:versionName="1.0" >


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />





    <application
        android:name="com.StudentPoints.app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.StudentPoints.sap.LoginActivity"
            android:label="Home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.StudentPoints.sap.RegisterActivity"
            android:label="Register" >
        </activity>
        <activity
            android:name="com.StudentPoints.sap.MainActivity"
            android:label="">
        </activity>
        <activity
            android:name="com.StudentPoints.sap.Attend"
            android:label="Attend">
        </activity>
        <activity
            android:name="com.StudentPoints.sap.BarcodeScanner"
            android:label="Scanner" >
        </activity>
        <activity
            android:name="com.StudentPoints.sap.Leaderboard"
            android:label="Leaders" >
        </activity>

    </application>

</manifest>
